
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>I am full time Computer Programming student at Seneca College entering my third semester. I previously worked as a cardiac nurse in Beijing China before moving to Canada. After trying out various work and academic disciplines in Canada, I decided that I wanted to pursue a career in the computer sciences. I have jumped into the fascinating world of computer programming headfirst, and I desire to learn everything I can about computers and networking. My future aspirations involve obtaining a degree in a computer related discipline and finding gainful employment as an information technology professional.</p>
          <iframe src="https://giphy.com/embed/xiOgHgY2ceKhm46cAj" width="850" height="350" frameBorder="3" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/world-africa-europe-xiOgHgY2ceKhm46cAj">via GIPHY</a></p>
          
        </article>
        </section>
        <aside class="col-md-3">
          <h2>MY INTERESTS</h2>
          <p>Web Development - I enjoy tinkering with code, finding bugs, and building great products.</p>
          <p>Hiking - I can’t say I am a professional hiker, but it is something I enjoy doing to explore Canada’s beautiful nature while getting some exercise.</p>
          <p>Cooking - Perhaps my favourite thing to do is experiment with different ingredients and cooking techniques. I love both eating and cooking great food, especially Chinese dishes.</p>
          <p>Camping - As tough and dirty as camping can be, there is no better way to enjoy the outdoors. Ontario has some fantastic camping spots, including my favourite place to visit in the summer: Sandbanks Provincial Park.</p>
        </aside>
      </div>


    