<div class="row">
    <div class="col-md-12">
          <h2>Categories</h2>
          <hr />
          <div class="tables-responsive">
          <table class="table">
                <thead>
                       <th>Category ID</th>
                        <th>Category Name</th>                                       
                </thead>
                 <tbody>
                    {{#each categories}}
                    <tr>
                        <td>{{id}}</td>
                        <td><a href="/posts?category={{category}}"></a> {{category}}</td>
                    </tr>
                    {{/each}}
                </tbody>    
            </table>
          </div>
    </div>
            {{#unless categories}}
            <div class="col-md-12 text-center">
                <strong>{{message}}</strong>
            </div>              
            {{/unless}}
    </div>
</div>
